<%- include('../partials/header') %>
<h3><%= place.name %> </h3>
<div>Location: <%= place.location %> </div>
<br />
<a href="/places/<%= place._id %>/edit">Edit Ingredient</a>
<%- include('../partials/footer') %>