<%- include('../partials/header') %>
<h3>Drinks</h3>
<div>
    <% drinks.forEach((d) => { %>
        <ul>
            <li>
                <%= `Name -- ${d.name}` %>
                <%= `Ingredients -- ${d.ingredients}` %>
                <%= `Preparation -- ${d.preparation}` %>
                <%= `Place -- ${d.place}` %>
                <a href='/drinks/<%= d._id %>'>Details</a>    
            </li>
        </ul>
    <% }); %> 
</div>
<a href="../drinks/new">Add new Drink</a>
<%- include('../partials/footer') %>