<%- include('../partials/header') %>
<h1>Enter a new Drink</h1>
<form action="/drinks" method="POST">
<label>
    Name:
    <input type="text" name="name" />
</label>
<br />
<label>
    Ingredients:
    <ul>
    <% ingList.forEach((i) => { %>
        <li>
            <input type="checkbox" name="ingredients" value="<%= `${i.ingType} -- ${i.name}` %>" />
            <%= `${i.ingType} -- ${i.name}` %> 
        </li> 
    <% }); %>
    </ul> 
</label>
<br />
<label>
    Preparation:
    <input type="text" name="preparation" />
</label>
<br />
<label>
    Place:
    <select type="text" name="place">
        <% placeList.forEach((p) => { %>
            <option value="<%= `${p.name} -- ${p.location}` %>">
                <%= `${p.name} -- ${p.location}` %> </option>
        <% }); %>  
    </select>
</label>
<br />
<label>
    <input type="submit" value="Add Drink" />
</label>
</form>
<%- include('../partials/footer') %>