<%- include('../partials/header') %>
<h3><%= ing.ingType %></h3>
<div>Name: <%= ing.name %> </div>
<br />
<a href="/ingredients/<%= ing._id %>/edit">Edit Ingredient</a>
<%- include('../partials/footer') %>