<%- include('../partials/header') %>
<h3><%= log.date.toLocaleDateString() %> </h3>
<div>
    Drinks:
    <ul>
    <% log.drinks.forEach((d) => { %> 
        <li><%= d %></li>
    <% }); %> 
    </ul>
</div>
<br />
<a href="/logs/<%= log._id %>/edit">Edit Log</a>
<%- include('../partials/footer') %>